@use 'frecuent';

@mixin flexClasic( $direccion: column, $width: 0px, $height: 0px, $justify: none, $algItems: none ) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $algItems;
    width: $width;
    height: $height;
}

.PokeContainer{
    @include flexClasic( $direccion: row, $width: 95%, $height: 90% );
    z-index: 3;
    animation: openPokedex 1s ease 0s 1 normal forwards;
}

@keyframes openPokedex {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
}

.PokeContainerSecond{
    @include flexClasic( $direccion: column, $width: 95%, $height: 95% );
    border-radius: 50px;
    background: #b40421;
    box-shadow:  8px 8px 16px #a7041f, -8px -8px 16px #c10423;
}

.pokedexLefth{
    @include flexClasic( $width: 70%, $height: 100%, $justify: center, $algItems: center );
    background-color: frecuent.$colorPokeder;
    border: {
        top-left-radius: 50px;
        bottom-left-radius: 50px;
        top-right-radius: 15px;
        bottom-right-radius: 15px;
    };
}

.pokedexRight{
    @include flexClasic( $width: 30%, $height: 100% );
}

.adornoInclinacion{
    @include flexClasic( $width: 86.4%, $height: 0px );
    background-color: transparent;
    border: {
        bottom: 50px solid frecuent.$colorPokeder;
        right: 50px solid transparent;
    };
}

.pokedexRightContainer{
    @include flexClasic( $width: 100%, $height: 100%, $algItems: center );
    background-color: frecuent.$colorPokeder;
}

.headerPekedex{
    @include flexClasic( $direccion: row, $width: 100%, $height: 80px );
    margin-top: 10px;
    margin-left: 10px;
    //padding-left: 10px;
    //background-color: chocolate;
}

.contSircleBig{
    @include flexClasic( $direccion: row, $width: 80px, $height: 80px );
}

.sircleBig{
    @include flexClasic( $direccion: row, $width: 70px, $height: 70px );
    background: linear-gradient(27deg, #0cebc6 0%, #fff 100%);
    box-shadow: 1px 2px 37px 4px #5cf2d9;
    border: {
        radius: 50px;
        width: 5px;
        style: solid;
        color: rgb(255, 255, 255);
    };
}

.contenSircle{
    @include flexClasic( $direccion: row, $width: 100%, $height: 40px );
}

.sircle{
    @include flexClasic( $direccion: row, $width: 40px, $height: 40px );
    margin-left: 5px;
    border: {
        radius: 50px;
        width: 3px;
        style: solid;
        color: black;
    };
}

.luzRoja{
    $colorRojo: #ff5151;
    box-shadow: 1px 2px 37px 4px $colorRojo;
    background: linear-gradient(27deg, $colorRojo 0%, #cabcbc 100%);
    //animation: luzRojaAnimation 1s ease 0s 1 normal forwards;
}

.luzAmarilla{
    $colorRojo: #fff241;
    box-shadow: 1px 2px 37px 4px $colorRojo;
    background: linear-gradient(27deg, $colorRojo 0%, #cabcbc 100%);
}

.luzVerde{
    $colorRojo: #50e95d;
    box-shadow: 1px 2px 37px 4px $colorRojo;
    background: linear-gradient(27deg, $colorRojo 0%, #cabcbc 100%);
}

.contenSwiper{
    @include flexClasic( $direccion: column, $width: 100%, $height: 125px, $algItems: center );
    margin-top: -30px;
    background-color: transparent;
}

.centerSwiper{
    @include flexClasic( $direccion: row, $width: 70%, $height: 100%, );
    background-color: transparent;
}

.contenDisplay{
    @include flexClasic( $direccion: column, $width: 100%, $height: 100%, );
}

.pagination{
    @include flexClasic( $direccion: column, $width: 100%, $height: 15%, );
    background-color: yellow;
}

.controlDisplay{
    @include flexClasic( $direccion: row, $width: 100%, $height: 85%, );
}

.displayLefth{
    @include flexClasic( $direccion: row, $width: 10%, $height: 100%, $justify: center, $algItems: center );
}

.contButtons{
    @include flexClasic( $direccion: column, $width: 100%, $height: 100px, $justify: flex-end );
}

.boton{
    @include flexClasic( $direccion: column, $width: 50px, $height: 50px, $justify: center, $algItems: center );
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    background-color: rgb(32, 31, 31);
    color: white;
    font-size: medium;
    font-family: frecuent.$fontGame;
    filter: drop-shadow(-10px 9px 31px #000);
}

.contButton{
    @include flexClasic( $direccion: column, $width: 100%, $height: 50%, $algItems: flex-end );
}

.display{
    @include flexClasic( $direccion: column, $width: 80%, $height: 100%, $algItems: center, $justify: center );
}

.displayConten{
    width: 95%;
    height: 90%;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #201f1f;
    background: linear-gradient(48deg, #191919 3%, #8c8c8c 100%);
}

.cardSlides{
    @include flexClasic( $direccion: column, $width: 170px, $height: 120px, $algItems: center, $justify: center );
    border-radius: 10px;
    background: linear-gradient(292deg, #3716e0 0%, #00c6f9 100%);
    cursor: pointer;
}

.fontPokedex{
    color: white;
    font-size: 10px;
    font-family: frecuent.$fontGame;
    margin-bottom: 10px;
}

.contenTitleList{
    width: 80%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    font-family: frecuent.$fontGame;
}